<!DOCTYPE html>
<html>
    <body>
        <header>
            <title>Datetime</title>
            <h4><a href="{% url 'main' %}" style="color: black;">Регистратура Калининградской области</a></h4>
            <a href="{% url 'personal_cabinet' %}" class="link-on-header">Личный кабинет</a>
        </header>
        <div class="main-content">
            <h1 class="greeting">Выбор даты и времени приема</h1>
            <div class="datetime">
                <form method="POST">
                    {% csrf_token %}
                    {% for weekday in weekdays %}
                        {% for free_time in free_times %}
                            <button style="display: inline;" name="time" type="submit" value="{{ weekday }} {{ free_time }}">{{ weekday }}: {{ free_time }}</button>
                            <h2 style="display: inline;">|</h2>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                </form>
            </div>
        </div>
        <footer></footer>
    </body>
</html>

<!-- app/static/css/style.css -->
<style>
{{ style }}
</style>